* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: url("/videowelder.xyz/files/mouse.png"), auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

@font-face {
    font-family: Subfont;
    src: url(/videowelder.xyz/files/Fonts/pixel.ttf);
}

@font-face {
    font-family: Mainfont;
    src: url(/videowelder.xyz/files/Fonts/cmd.ttf);
}

html {
    padding: 3px 3px 3px 3px;
    background-color: #000;
    font-family: Mainfont;
    font-size: 11pt;
    text-align: center;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(#1d4055, #06080a);
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
}

div.main_text {
    padding: 4px 8px 4px 8px;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: 100;
    font-family: Mainfont;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
}

p {
    padding: 5px;
}

div.sub_text {
    padding: 4px 8px 4px 8px;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: 100;
    font-family: Subfont;
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
    width: 85%;
    margin: auto;
}

div.main_page {
    position: absolute;
    display: block;
    width: 800px;
    margin: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 50%;
}

div.section_header {
    padding: 3px 6px 3px 6px;
    text-shadow: 5px 5px #2e3a5a;
    color: #FFFFFF;
    font-family: Mainfont;
    font-weight: bold;
    font-size: 333%;
    text-align: center;
}

.home {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    background-color: #2e3a5a;
    color: #FFFFFF;
    font-family: Subfont;
    font-weight: bold;
    font-size: 112%;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.footer {
    color: #FFFFFF;
    font-family: Subfont;
    font-weight: bold;
    font-size: 112%;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-family: Subfont;
    text-align: center;
    background-color: #2e3a5a55;
    color: #fff;
    height: 100%;
    padding-top: 20px;
    width: min-content;
}

    div.navbar a {
        display: inline-block;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding: 2px 0px 0px 0px;
        width: 100%;
    }

    div.navbar p {
        color: #FFFFFF;
        background-color: #fff1;
        border-top: 1px double #FFFFFF;
        border-bottom: 1px double #FFFFFF;
        font-weight: bold;
    }

    div.navbar a:hover {
        color: #000;
        background-color: #fff;
    }

.sub_text a {
    transition: box-shadow .5s, margin .5s;
    -moz-transition: box-shadow .5s, margin .5s;
    -webkit-transition: box-shadow .5s, margin .5s;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    border: 2px solid;
    background: #fff1;
    position: relative;
    display: flex;
    width: 100%;
    margin: 0px 5px 0px 5px;
    height: 20px;
}

    .sub_text a span {
        width: 100%;
    }

    .sub_text a img {
        width: 35px;
        height: 35px;
    }

    .sub_text a:hover {
        text-decoration: none;
        box-shadow: 1px 1px #fff,2px 2px #fff,3px 3px #fff,4px 4px #fff,5px 5px #fff;
        margin: -5px 10px 5px 0px !important;
    }

    .sub_text a.big {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

        .sub_text a.big span {
            text-align: end;
            width: 100%;
            padding-right: 2px;
        }

svg {
    width: 250px;
    height: 250px;
}

g {
    transition: filter 5s;
}

    g:hover {
        filter: brightness(255);
    }

.back {
    position: absolute;
    top: 37%;
}
