
* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cursor:url("/videowelder.xyz/files/mouse.png"), auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag:none;
}

div.bg {
	 background-repeat: no-repeat;
	z-index: -1;
	position: absolute;
	background-image: url("/videowelder.xyz/files/wall.jpg");
	background-size: cover;
	filter: blur(3000px);
width:100%;
height:100%;
top:0;
left:0;
}

@font-face {
	font-family: Subfont;
	src: url(/videowelder.xyz/files/pixel.ttf);
}

@font-face {
	font-family: Mainfont;
	src: url(/videowelder.xyz/files/cmd.ttf);
}		
		
html {
	padding: 3px 3px 3px 3px;
	background-color: #000;

	font-family: Mainfont;
	font-size: 11pt;
	text-align: center;
	height: 100%;
	display: table;
}

div.main_text {
	padding: 4px 8px 4px 8px;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: 100;
	font-family: Mainfont;
	font-size: 20pt;
	text-align: center;
	text-decoration: none;
}

div.sub_text {
	padding: 4px 8px 4px 8px;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: 100;
	font-family: Subfont;
	font-size: 12pt;
	text-align: center;
	text-decoration: none;
width: 85%;
margin:auto;
}

div.main_page {
	position: absolute;
	display: block;
	width: 800px;
	margin: auto;
	transform: translate(-50%, -50%);
	text-align: center;
	left: 50%;
	top: 50%;
}

div.page_header {
	height: 99px;
	width: 100%;
	border-radius: 3px;
	background-color: #FFFFFF;
}

div.page_header span {
	margin: 15px 0px 0px 50px;

	font-size: 180%;
	font-weight: bold;
}

div.page_header img {
	margin: 3px 0px 0px 40px;

	border: 0px 0px 0px;
}

div.table_of_contents {
	clear: left;

	min-width: 200px;

	margin: 3px 3px 3px 3px;

	background-color: #FFFFFF;

	text-align: left;
}

div.table_of_contents_item {
	clear: left;

	width: 100%;

	margin: 4px 0px 0px 0px;

	background-color: #FFFFFF;

	color: #000000;
	text-align: left;
}

div.table_of_contents_item a {
	margin: 6px 0px 0px 6px;
}

div.content_section {
	margin: 3px 3px 3px 3px;

	background-color: #FFFFFF;

	text-align: left;
}

div.content_section_text a:hover{
	padding: 0px 500px 0px 500px;

	background-color: #FFFFFF;
}

div.content_section_text p {
	margin-bottom: 6px;
}

div.content_section_text ul, div.content_section_text li {
	padding: 4px 8px 4px 16px;
}

div.section_header {
	padding: 3px 6px 3px 6px;

	text-shadow: 5px 5px #2e3a5a;
	color: #FFFFFF;
	font-family: Mainfont;
	font-weight: bold;
	font-size: 333%;
	text-align: center;
}

.section_header_red {
	color: #FFFFFF;
	font-family: Subfont;
	font-weight: bold;
	font-size: 112%;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

div.section_header_grey {
	background-color: #F5F6F7;
}

div.table_of_contents_item a:hover {
	background-color: #000000;

	color: #FFFFFF;
}

div.main_text a:link,
div.main_text a:visited,
div.main_text a:active {
	background-color: #000000;
	color: #FFFFFF;
}

div.main_text a:hover {
	text-decoration: none;
	background-color: #000000;

	color: #FFFFFF;
}

div.sub_text a:link,
div.sub_text a:visited,
div.sub_text a:active {
display: inline-block;
	transition: box-shadow .5s;
	-moz-transition: box-shadow .5s;
	-webkit-transition: box-shadow .5s;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	background-color: #000000;
	color: #FFFFFF;
}

div.sub_text a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	box-shadow: 5px 5px #000;
	color: #000000;
}

div.navbar {
	position: fixed;
	top: 0;
	left: 0;
	font-family: Subfont;
	text-align: center;
	background-color: #2e3a5a;
	color: #fff;
	height: 100%;
	padding-top: 20px;
width:75px;
}

div.navbar a:link,
div.navbar a:visited,
div.navbar a:active {
display:inline-block;
text-decoration: none;
font-style: normal;
font-weight: bold;
color: #fff;
text-align:center;
padding: 2px 0px 0px 0px;
width: 100%;
}

div.navbar a:hover {
color: #000;
background-color: #fff;
}

div.navbar p {
color: #000;
background-color: #fff;
font-weight: bold;
font-size: 100%;
vertical-align:middle;
text-align:center;
padding: 0px 5px 0px 5px;
}

.nav {
border-top: 1px dotted #fff;
border-bottom: 1px dotted #fff;
width: 170px;
font-family: Subfont;
color: white;
background-color: #212738;
display:none;
}

.nav li {
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
width: 100%;
vertical-align:middle;
display:inline-block;
}

.nav li:hover {
background-color: #000;
color: #fff;
}

.nav a {
text-decoration: none;
font-style: normal;
font-weight: bold;
color: #FFFFFF;
width: 100% !important;
vertical-align:middle;
display:inline-block;
padding: 0px 0px 0px 0px !important;
}

.nav a:hover {
width:100%;
background-color: #000;
color: #fff;
}

.navbar div {
border-top: 1px solid #2e3a5a;
width:100%;
}

svg
{
	width:250px;
	height:250px;
}
